<h1>New Project</h1>

<%= form_for(@project) do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>


	<div class="field">
  	<%= f.label :name %><br />
  	<%= f.text_field :name %>
	</div>

	

	<div class="field">
  	<%= f.label :activity %><br />
  	<%= f.text_field :activity %>
	</div>

	<div class="select">
		<p><b>Select the object language</b></p> <% @lang_names = [] %>
	<% @lang_lists = Language.all.collect %>
	<% @lang_lists.each do |language| %>
		<% @lang_names << language.name %> 
	<% end %>

	<%= f.select :language_id, @lang_names %>

	</div>




	<div class="select">
		<p><b>Select a starter wordlist</b></p> <% @wl_names = [] %>
	<% @word_lists = WordList.all.collect %>
	<% @word_lists.each do |word_list| %>
		<% @wl_names << word_list.name %> 
	<% end %>

	<%= f.select :word_list_id, @wl_names %>

	</div>

	<div class="field">
		<%= f.label :participant  %><br />
		<%= f.text_field :participant_id  %><br />
	</div>


	<div class="area">
  	<%= f.label :description %><br />
  	<%= f.text_area :description, :size => "20x12"  %>
	</div>

	<div class="actions">
	<%= f.submit "Create" %>
	</div>

<% end %>
